<div id="results">
  <h2><%= @results.total %> Total Stores</h2>

  <table class="table">
    <th>Long Name</th>
    <th>City</th>
    <th>Distance</th>
    <th>Phone Number</th>
    <th>Store Type</th>
    <% @results.stores.each_with_index do |store, index| %>
      <tr class="results" id="result-<%= index +1 %>">
        <td><%= link_to(store.long_name, search_path(store.id))%></td>
        <td><%= store.city %></td>
        <td><%= store.distance %></td>
        <td><%= store.phone %></td>
        <td><%= store.type %></td>
      </tr>
    <% end %>
  </table>
</div>
